<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>jison</title>
    <link rel="icon" type="image/jpg" href="favicon.jpg" />
    <link rel="stylesheet" href="/styles.css" type="text/css" media="screen" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/grammar"  title="Grammar" <%=current?("/grammar")%>>Gramatica</a> </li>
        <li> <a href="/"  title="Home" <%=current?("/")%>>Pagina principal </a> </li>
        <li> <a href="/auth/google_oauth2"  title="Google" <%=current?("/auth/google_oauth2")%>>Sign in with Google</a> </li>
	<li> <a href="/auth/twitter" title="Twitter" <%current?("/auth/twitter")%>> Sing in with Twitter </a> </li>
        <li> <a href="https://github.com/alu0100697032/Analizador_ambito_PL0" title="Repo">Repositorio</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>

